<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Flix-tv app gets data from TMDB and renders in a user friendly UI.">
	<meta name="keywords" content="flix, moviesflix, flixtv, tmdb clone, flix-tv">
	<meta name="author" content="Agent-Sidd">
    <meta name="google-site-verification" content="rlA1EuZQfM1_RrPvwr_fyOWuNc4Uhbf3V0P5X4gKvZ4" />
    <title>
        Flix-Tv.com || 
    </title>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="/script/fontawesome.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/style/grid.css">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/style/owl.css">
    <link rel="stylesheet" href="/style/category.css">
    <link rel="stylesheet" href="/style/dropdown.css">
</head>

<body>

    <!-- NAV -->
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="/" class="logo">
                    <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                    <sup class="main-color" style="font-size: .5em; font-weight: 400;">TV</sup>
                </a>
                <ul class="nav-menu nav-lists" id="nav-menu">
                    <li><a href="/">Home</a></li>
                    <li class="genre">GENRE &nbsp;<i class="fas fa-angle-down"></i>
                        
                        <ul class="drop-menu">
                            <li><a href="/genre/Action?page=1">Action</a></li>
                            <li><a href="/genre/Adventure?page=1">Adventure</a></li>
                            <li><a href="/genre/Comedy?page=1">Comedy</a></li>
                            <li><a href="/genre/Crime?page=1">Crime</a></li>
                            <li><a href="/genre/Drama?page=1">Drama</a></li>
                            <li><a href="/genre/Family?page=1">Family</a></li>
                            <li><a href="/genre/Fantasy?page=1">Fantsy</a></li>
                            <li><a href="/genre/Horror?page=1">Horror</a></li>
                            <li><a href="/genre/Music?page=1">Music</a></li>
                            <li><a href="/genre/Rommance?page=1">Rommance</a></li>
                            <li><a href="/genre/War?page=1">War</a></li>
                            <li><a href="/genre/Thriller?page=1">Thriller</a></li>
                            <li><a href="/genre/Science?page=1">Science</a></li>

                        </ul>
                    </li>

                    <li class="genre">MOVIES &nbsp;<i class="fas fa-angle-down"></i>
                        <ul class="drop-menu">
                            <li><a href="/movies/trending?page=1">Trending</a></li>
                            <li><a href="/movies/popular?page=1">Popular</a></li>
                            <li><a href="/movies/top_rated?page=1">Top Rated</a></li>
                            <li><a href="/movies/now_playing?page=1">Now Playing</a></li>
                            <li><a href="/movies/upcoming?page=1">Upcoming</a></li>
                        </ul>
                    </li>
                    <li class="genre">TV&nbsp;<i class="fas fa-angle-down"></i>
                        <ul class="drop-menu">
                            <li><a href="/tv/trending?page=1">Trending</a></li>
                            <li><a href="/tv/popular?page=1">Popular</a></li>
                            <li><a href="/tv/top_rated?page=1">Top Rated</a></li>
                            <li><a href="/tv/now_playing?page=1">Now Playing</a></li>
                            <li><a href="/tv/upcoming?page=1">Upcoming</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                    <li>
                        <a href="#" class="btn full-page-srch ">
                            <i class='bx bx-search'></i>
                        </a>
                    </li>
                </ul>
                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>

            </div>
        </div>
    </div>
    
    <%if(locals.media_type == 'mv'){%>
    <% var backdrop_photu="https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/" +media_info.backdrop_path%>
        <div class=" details-sec"
            style="background: url('<%=backdrop_photu%>'); background-position: right -200px top; background-size: cover;">

            <div class="details-overlay" style="background:<%=locals.gradient%>">
                <div class="poster-sec clm-lg-4 clm-md-4 clm-sm-12 clm-12">
                    <div class="details-img-wrapper">
                        <% var img='https://www.themoviedb.org/t/p/w300_and_h450_bestv2/' +
                            locals.media_info.poster_path %>
                            <img class="pst-img" src="<%=img%>" alt="">
                            <%if(locals.provider_info.IN){%>
                            <% if(locals.provider_info.IN.flatrate){%>
                                    <% var name=locals.provider_info.IN.flatrate[0].provider_name %>
                                    <% var watch_logo="https://www.themoviedb.org/t/p/original/"
                                    +locals.provider_info.IN.flatrate[0].logo_path %>
                                    <%var say ="Streaming on"%>
                            <% } else if(locals.provider_info.IN.rent){%>
                                    <% var name=locals.provider_info.IN.rent[0].provider_name %>
                                    <% var watch_logo="https://www.themoviedb.org/t/p/original/"
                                    +locals.provider_info.IN.rent[0].logo_path %>
                                    <%var say ="Rent from"%>
                            <%} else if(locals.provider_info.IN.buy) {%>
                                    <% var name=locals.provider_info.IN.buy[0].provider_name %>
                                    <% var watch_logo="https://www.themoviedb.org/t/p/original/"
                                    +locals.provider_info.IN.buy[0].logo_path %>
                                    <%var say = "Buy from"%>
                            <%}%>
                                <div class="watch-provider">
                                            <img class="watch-logo" src='<%=watch_logo%>' alt="">
                                            &nbsp;
                                            &nbsp;
                                            <div class="watch-text">
                                                <h4><%=say%></h4>
                                                <h6>
                                                    <%=name%>
                                                </h6>
                                            </div>

                                </div>
                                <%}%>
                               
                    </div>
                </div>
                <div class="details-info clm-lg-8 clm-md-8  clm-sm-12 clm-12">
                    <div class="dt-mv-title">
                        <h2>
                            <%=locals.media_info.original_title%><span class="dt-release-year dim-color">(<%=locals.media_info.release_date.substring(0,4)%>)</span>
                        </h2>
                        <i class=" dim-color">
                        <%= locals.media_info.tagline%>
                        </i>
                    </div>
                    <br>
                    <div class="dt-mv-facts">
                       <div class="dt-mv-fact-left">
                        <div class="dt-vote-avg">
                           <h1 class="vote"><%= locals.media_info.vote_average %> <i class="fas fa-star super"></i> </h1> 
                           <% var vote_details  = locals.media_info.vote_average + " out  of " + locals.media_info.vote_count + " count " %>
                           <p><%= vote_details %></p>
                        </div>
                       </div>
                    <div class="dt-mv-fact-right">
                        <h4 class="dt-runtime">
                            <%=locals.media_info.spoken_languages[0].english_name + " . "+ locals.media_info.runtime+"mins" %>
                        </h4>
                        <h6 class="dt-release-date">
                            <%= "Release date: "+locals.media_info.release_date%>
                        </h6>
                    </div>
                    </div>
                    <br>
                    <div class="dt-mv-genre">
                        <h4 class="dt-mv-genre-hdr">Genres</h4>
                        <div class="dt-mv-genre-main">
                        <%locals.media_info.genres.forEach(function(gnr){%>
                            <% var gnrlink = "/genre/"+ gnr.name %>
                            <% var  gnrname = gnr.name %>
                            <a class="button" href="#"><%= gnrname %></a>
                        <%})%>
                       </div>
                    </div>
                    <br><br>
                    <div class="dt-mv-overview">
                        <h4 class="dt-mv-overview-hdr">Overview</h4>
                        <h5><%=locals.media_info.overview%></h5>
                    </div>
                    <br>
                    <br>
                    <div class="dt-mv-actios">
                    <%if(locals.media_info.homepage){%>             
                     <a href="<%=locals.media_info.homepage%>" class="dt-action-btn" target="_blank"> Website &nbsp;<i class="fas fa-link"></i></a>
                    <%} else {%>
                    <a href="#"  class="dt-action-btn btn-disabled" target="_blank"> Website &nbsp;<i class="fas fa-link"></i></a>
                    <%}%>
                    
                     <a href="#" class="dt-action-btn open-mdl"> Trailer &nbsp;<i class="fas fa-play"></i></a>
                   
                     <%if(locals.media_info.imdb_id){%>   
                     <%var link = "https://www.imdb.com/title/"+ locals.media_info.imdb_id%>
                     <a href="<%=link%>" class="dt-action-btn" target="_blank"> Imdb &nbsp;<i class="fab fa-imdb"></i></a>
                     <%}%>
                   </div>
                </div>


                </div>
            </div>
        </div>
    <%} else {%>  
        <% var backdrop_photu="https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/" +media_info.backdrop_path%>
        <div class=" details-sec"
            style="background: url('<%=backdrop_photu%>'); background-position: right -200px top; background-size: cover;">

            <div class="details-overlay" style="background:<%=locals.gradient%>">
                <div class="poster-sec clm-lg-4 clm-md-4 clm-sm-12 clm-12">
                    <div class="details-img-wrapper">
                        <% var img='https://www.themoviedb.org/t/p/w300_and_h450_bestv2/' +
                            locals.media_info.poster_path %>
                            <img class="pst-img" src="<%=img%>" alt="">
                            <%if(locals.provider_info.IN){%>
                            <% if(locals.provider_info.IN.flatrate){%>
                                    <% var name=locals.provider_info.IN.flatrate[0].provider_name %>
                                    <% var watch_logo="https://www.themoviedb.org/t/p/original/"
                                    +locals.provider_info.IN.flatrate[0].logo_path %>
                                    <%var say ="Streaming on"%>
                            <% } else if(locals.provider_info.IN.rent){%>
                                    <% var name=locals.provider_info.IN.rent[0].provider_name %>
                                    <% var watch_logo="https://www.themoviedb.org/t/p/original/"
                                    +locals.provider_info.IN.rent[0].logo_path %>
                                    <%var say ="Rent from"%>
                            <%} else if(locals.provider_info.IN.buy) {%>
                                    <% var name=locals.provider_info.IN.buy[0].provider_name %>
                                    <% var watch_logo="https://www.themoviedb.org/t/p/original/"
                                    +locals.provider_info.IN.buy[0].logo_path %>
                                    <%var say = "Buy from"%>
                            <%}%>
                                <div class="watch-provider">
                                            <img class="watch-logo" src='<%=watch_logo%>' alt="">
                                            &nbsp;
                                            &nbsp;
                                            <div class="watch-text">
                                                <h4><%=say%></h4>
                                                <h6>
                                                    <%=name%>
                                                </h6>
                                            </div>

                                </div>
                                <%}%>
                               
                    </div>
                </div>
                <div class="details-info clm-lg-8 clm-md-8  clm-sm-12 clm-12">
                    <div class="dt-mv-title">
                        <h2>
                            <%=locals.media_info.original_name%> <%=locals.media_info.original_title%><span class="dt-release-year dim-color">(<%=locals.media_info.first_air_date.substring(0,4)%>)</span>
                        </h2>
                        <i class=" dim-color">
                        <%= locals.media_info.tagline%>
                        </i>
                    </div>
                    <br>
                    <div class="dt-mv-facts">
                       <div class="dt-mv-fact-left">
                        <div class="dt-vote-avg">
                           <h1 class="vote"><%= locals.media_info.vote_average %> <i class="fas fa-star super"></i> </h1> 
                           <% var vote_details  = locals.media_info.vote_average + " out  of " + locals.media_info.vote_count + " count " %>
                           <p><%= vote_details %></p>
                        </div>
                       </div>
                    <div class="dt-mv-fact-right">
                        <h4 class="dt-runtime">
                            <%=locals.media_info.spoken_languages[0].english_name + " . "+ locals.media_info.episode_run_time+"mins" %>
                        </h4>
                        <h6 class="dt-release-date">
                            <%= "Release date: "+locals.media_info.first_air_date%>
                        </h6>
                    </div>
                    </div>
                    <br>
                    <div class="dt-mv-genre">
                        <h4 class="dt-mv-genre-hdr">Genres</h4>
                        <div class="dt-mv-genre-main">
                        <%locals.media_info.genres.forEach(function(gnr){%>
                            <% var gnrlink = "/genre/"+ gnr.name %>
                            <% var  gnrname = gnr.name %>
                            <a class="button" href="#"><%= gnrname %></a>
                        <%})%>
                       </div>
                    </div>
                    <br><br>
                    <div class="dt-mv-overview">
                        <h4 class="dt-mv-overview-hdr">Overview</h4>
                        <h5><%=locals.media_info.overview%></h5>
                    </div>
                    <br>
                    <br>
                    <div class="dt-mv-actios">
                    <%if(locals.media_info.homepage){%>             
                     <a href="<%=locals.media_info.homepage%>" class="dt-action-btn" target="_blank"> Website &nbsp;<i class="fas fa-link"></i></a>
                    <%} else {%>
                    <a href="#"  class="dt-action-btn btn-disabled" target="_blank"> Website &nbsp;<i class="fas fa-link"></i></a>
                    <%}%>
                    
                     <a href="#" class="dt-action-btn open-mdl"> Trailer &nbsp;<i class="fas fa-play"></i></a>
                     
                     <%if(locals.media_info.imdb_id){%>   
                     <%var link = "https://www.imdb.com/title/"+ locals.media_info.imdb_id%>
                     <a href="<%=link%>" class="dt-action-btn" target="_blank"> Imdb &nbsp;<i class="fab fa-imdb"></i></a>
                     <%}%>
                   </div>
                </div>
                </div>
            </div>
            
     <%}%>
     

       <div class="section">
        <div class="section-header">
            Cast
        </div>
        <div class=" credit-carousel carousel-nav-center owl-carousel owl-theme">
            <% locals.media_info.credits.cast.forEach(function(person){%>
                <div class="item credit-poster">
                   <% if(person.profile_path) {%>
                    <% var img  = "https://image.tmdb.org/t/p/w500/" + person.profile_path %>
                    <%} else { %>
                    <%if(person.gender == 2){%>
                        <% var img  = "/images/no_person_male.svg" %>
                        <% }else { %>
                        <% var img  = "/images/no_person_female.svg" %>
                        <% } %>
                     <% } %>
                    <img src="<%=img%>" alt="">
                    <div class="credit-details">
                    <h5><%=person.name%></h5>
                </div>
                </div>
            <%})%>
        </div>
       </div>
        <br>
        <div class="section">
                <div class="section-header">
                    Recommendations
                </div>
                <div class=" recmnd-owl carousel-nav-center owl-carousel owl-theme" >
                    <!-- MOVIE ITEM -->
                    <% locals.recmnd_info.forEach(function(mv){%>
                        <%if(mv.media_type == 'movie'){%>
                            <% var link = '/details/mv?id=' + mv.id %>
                            <%} else {%>
                        <% var link = '/details/tv?id=' + mv.id %>
                        <%}%>
                    <a href='<%=link%>' class="movie-item">
                        <%if(mv.poster_path == null){%>
                        
                            <%var img ="/images/noimagesmall.jpg" %>
                            <% } else{ %>
                        <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>
                        <%}%>
    
                        <img src='<%=img%>' alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                <%=mv.original_title%>
                                <%=mv.original_name%>
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span><%=mv.vote_average%> </span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-captions"></i>
                                    <span><%=mv.original_language %></span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <%})%>
                    <!-- END MOVIE ITEM -->
                </div>
            </div>
       <div class="trailer-model">
           <div class="trailer-model-inner ">
               <div class="iframe-wrap-container">
                   <div class="close-model-wrap">
                <i class="fas fa-times close-model"></i>
            </div>
            <% var trailer_link  = "" %>
            <%locals.media_info.videos.results.forEach(function(trlr){%>
                <%if(trlr.type == "Trailer" && trlr.site == "YouTube"){%>
               <% trailer_link = 'https://www.youtube.com/embed/'+ trlr.key + '?autoplay=1&cc_load_policy=1&controls=1&disablekb=0&enablejsapi=0&fs=1&iv_load_policy=1&loop=0&rel=0&showinfo=1&start=0&wmode=transparent&theme=dark" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'%>
           <%}%> 
           <%})%>
                <iframe width="560" height="315" src="<%=trailer_link%>" allowfullscreen></iframe>
           </div>
           </div>
       </div>
       <div style="display: none; visibility: hidden;" class="title-title">Flix-Tv.com - <%=locals.media_info.original_title%> <%=locals.media_info.original_name%></div>
        <!-- FOOTER SECTION -->
        <!-- END FOOTER SECTION -->
        <footer class="section ft ft-dark">
            <div class="container">
                <div class="row">
                    <div class="clm-4 clm-md-6 clm-sm-12">
                        <div class="content">
                            <a href="/" class="logo">
                                <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                            </a>
                            <p>
                                ᶠˡᶦˣᵀⱽ primarily keeps track of TV shows and movies you watch. With  ᶠˡᶦˣᵀⱽ it is easy to find where to watch movies and TV shows on hundreds of streaming sources such as Disney + Hotstar, Netflix, Amazon, Hulu, and Voot.
                            </p>
                            <div class="social-list">
                                <a href="#" class="social-item">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                                <a href="#" class="social-item">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                                <a href="https://www.instagram.com/agent_sidd/" target="_blank" class="social-item">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clm-8 clm-md-6 clm-sm-12">
                        <div class="row">
                            <div class="clm-3 clm-md-6 clm-sm-6">
                                <div class="content">
                                    <p><b>Quick Links</b></p>
                                    <ul class="footer-menu">
                                        <li><a href="https://themoviedb.org/" target="_blank">TMDB</a></li>
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#" class="srch">Search</a></li>
                                        <li><a href="https://www.instagram.com/agent_sidd/" target="_blank">Contact US</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clm-3 clm-md-6 clm-sm-6">
                                <div class="content">
                                    <p><b>Browse Movies</b></p>
                                    <ul class="footer-menu">
                                        <li><a href="/genre/Action?page=1">Action</a></li>
                                        <li><a href="/genre/Adventure?page=1">Adventure</a></li>
                                        <li><a href="/tv/popular??page=1">Tv Shows</a></li>
                                        <li><a href="/mv/upcoming?page=1">Upcoming</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clm-3 clm-md-6 clm-sm-6">
                                <div class="content">
                                    <p><b>Browse TV</b></p>
                                    <ul class="footer-menu">
                                        <li><a href="/tv/popular?page=1">Popular</a></li>
                                        <li><a href="/tv/top_rated?page=1">Top rated</a></li>
                                        <li><a href="/tv/latest?page=1">Latest</a></li>
                                        <li><a href="/tv/latest?page=1">Trending</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clm-3 clm-md-6 clm-sm-6">
                                <div class="content">
                                    <p><b>Download app</b></p>
                                    <ul class="footer-menu">
                                        <li>
                                            <a href="#">
                                                <img src="/images/google-play.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="/images/app-store.png" alt="">
                                            </a>
                                        </li>
    
    
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- COPYRIGHT SECTION -->
        <div class="copyright">
            Copyright 2021 <a href="https://www.instagram.com/agent_sidd/" target="_blank">
                agent-sidd</a>
        </div>
        <!-- END COPYRIGHT SECTION -->
        <div class="overlay-search   ">
            <div class="close-btn" onclick="close_search()">
                <i class="fas fa-times"></i>
            </div>
            <div class="overlay-search-content">
                <form action="/search" class=" " id="myform" name="myform" onsubmit=" return validate();" method="GET"
                    autocomplete="off">
                    <input type="text" placeholder="Type here ....." name="q">
                    <input type="number" style="display: none; visibility: hidden;" name="page" value="1">
                    <button type="submit">
                        <i class="bx bx-search" style="font-size:25px; color: white;"></i>
                    </button>

                </form>
            </div>
        </div>
        <!-- SCRIPT -->
        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- OWL CAROUSEL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous"></script>
        <!-- APP SCRIPT -->
        <script src="/script/index.js"></script>
        <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>


</body>

</html>